# STM32CubeIDE + Embedded C/C++ Git Ignore
# STM32CubeIDE build directories
Debug/
Release/
build/

# CubeIDE generated project files
.settings/language.settings.xml
.mxproject
.metadata/
.loadpath

# STM32CubeIDE specific temporary files
*.lst
*.bak
*.tmp

# General C / C++ ignore rules
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Debug information files
*.dwo

# OS / Editor
.DS_Store
Thumbs.db

# KiCad backup/cache files
hexapod-backups/
fp-info-cache

# KiCad project temporary files
*.kicad_prl
*.kicad_pcb-bak
*.kicad_pcb-bak~
*.kicad_sch-bak
*.kicad_sch-bak~
*.kicad_wks-bak
*.kicad_wks-bak~

# Editor swap/temp files
*~
*.swp