# Force text files to use LF in the repo
* text=auto

# For STM32 files
*.c text
*.h text
*.s text
*.ld text

# KiCad project files
*.kicad_pro text eol=lf
*.sch text eol=lf
*.kicad_pcb text eol=lf
*.kicad_mod text eol=lf